<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<configuration>
<!--     <include resource="org/springframework/boot/logging/logback/base.xml" /> -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%level] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate.validator" level="WARN" />
    <logger name="org.jooq" level="WARN" />

    <logger name="jdbc" level="ERROR" />
    <logger name="jdbc.sqlonly" level="INFO" />
    <!-- <logger name="jdbc.connection" level="INFO" /> -->

    <logger name="org.yukung.sandbox" level="DEBUG" />

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
